<div class="test">
    <div *ngIf="showLoader">
        <mat-spinner id="loading"></mat-spinner>
    </div>

    <mat-toolbar class="container">
        <div class="item">
            <span>{{user.email}}</span>
        </div>
    
        <div (click)="openLabelsDialog()" class="item right labels">
            <span>Labels</span>
        </div>
    
        <div class="item logout">
            <div class="container-button"
                 (click)="logout()">
                <mat-icon>account_circle</mat-icon>
                <span>Log Out</span>
            </div>
        </div>
    </mat-toolbar>
    
    <div style="margin-top: 50px;">
    
        <div class="labels-add-task">
            
            <div class="section" >
                <h1>{{sections[currentSectionIndex].name!}}</h1>
                <mat-icon matRipple [matMenuTriggerFor]="menuSections">keyboard_arrow_down</mat-icon>
                <mat-menu #menuSections="matMenu">
                    <div class="section-delete-button" *ngFor="let section of sections">
                        <button mat-menu-item 
                                (click)="changeSection(section.sectionId!)">{{section.name}}</button>
                        <button mat-button (click)="deleteSection(section.sectionId!)"><mat-icon>delete</mat-icon></button>
                    </div>
                    <button mat-menu-item 
                            (click)="addSection(false)">+ Add New Section</button>
                </mat-menu>
            </div>

            <div class="labels-status">
                <div class="labels">
                    <button id="to-do" mat-raised-button color="warn"
                    (click)="filterByStateToDo(isStateFiltered[0])"
                    [ngStyle]="{ 'background-color': statesTransparent[0] }">TO DO</button>
                    <button id="in-progress" mat-raised-button color="warn"
                    (click)="filterByStateInProgress(isStateFiltered[1])"
                    [ngStyle]="{ 'background-color': statesTransparent[1] }">IN PROGRESS</button>
                    <button id="done" mat-raised-button color="warn"
                            (click)="filterByStateDone(isStateFiltered[2])"
                            [ngStyle]="{ 'background-color': statesTransparent[2] }">DONE</button>
                </div>
                <div class="status">
                    <button id="label1" mat-raised-button color="warn" 
                            (click)="filterByLabel1(isLabelsFiltered[0])"
                            [ngStyle]="{ 'background-color': labelsTransparent[0] }">{{labels[0].labelName}}</button>
                    <button id="label2" mat-raised-button color="warn" 
                            (click)="filterByLabel2(isLabelsFiltered[1])"
                            [ngStyle]="{ 'background-color': labelsTransparent[1] }">{{labels[1].labelName}}</button>
                    <button id="label3" mat-raised-button color="warn" 
                            (click)="filterByLabel3(isLabelsFiltered[2])"
                            [ngStyle]="{ 'background-color': labelsTransparent[2] }">{{labels[2].labelName}}</button>
                    <button id="label4" mat-raised-button color="warn" 
                            (click)="filterByLabel4(isLabelsFiltered[3])"
                            [ngStyle]="{ 'background-color': labelsTransparent[3] }">{{labels[3].labelName}}</button>
                </div>
            </div>

            <div class="add-task">
                <button mat-raised-button color="warn" (click)="newTaskDialog(false)">+</button>
            </div>
                
        </div>
    
        <div *ngFor="let task of flteredTask">
            <app-task [task]="task" 
                    (editTaskEvent)="editTask($event)"
                    (deleteTaskEvent)="deleteTask($event)"
                    (updateStateTaskEvent)="updateStateTask($event)"></app-task>
        </div>
    
    
    </div>
</div>
