<div class="test">
    <mat-toolbar class="container">
        <div class="item">
            <span>Username or Email</span>
        </div>
    
        <div (click)="openLabelsDialog()" class="item right labels">
            <span>Labels</span>
        </div>
    
        <div class="item logout">
            <div class="container-button"
                 (click)="logout()">
                <mat-icon>account_circle</mat-icon>
                <span>Log Out</span>
            </div>
        </div>
    </mat-toolbar>
    
    <div style="margin-top: 50px;">
    
        <div class="labels-add-task">
            
            <div class="section" >
                <h1>SECTION</h1>
                <mat-icon matRipple>keyboard_arrow_down</mat-icon>
            </div>

            <div class="labels-status">
                <div class="labels">
                    <button id="done" mat-raised-button color="warn">DONE</button>
                    <button id="in-progress" mat-raised-button color="warn">IN PROGRESS</button>
                    <button id="to-do" mat-raised-button color="warn">TO DO</button>
                </div>
                <div class="status">
                    <button id="label1" mat-raised-button color="warn">{{labels[0].labelName}}</button>
                    <button id="label2" mat-raised-button color="warn">{{labels[1].labelName}}</button>
                    <button id="label3" mat-raised-button color="warn">{{labels[2].labelName}}</button>
                    <button id="label4" mat-raised-button color="warn">{{labels[3].labelName}}</button>
                </div>
            </div>

            <div class="add-task">
                <button mat-raised-button color="warn" (click)="newTask()">+</button>
            </div>
                
        </div>
    
        <div *ngFor="let task of tasks">
            <app-task [task]="task"></app-task>
        </div>
    
    
    </div>
</div>
