<mat-card class="card">
    
    <!-- crear los labels  -->

    <div class="title">
        <h1>{{task!.title}}</h1>
        <h3>{{task!.description}}</h3>
    </div>

    <div class="due-date">
        <h1>Due Date:  <b>{{task!.dueDate | date : 'dd-MM-yyyy' }}</b></h1>
    </div>

    <div class="dificulty">
        <h1>Dificulty:</h1>
        <div class="boxes">
            <div class="box" *ngFor="let item of dificulty">.</div>
        </div>
    </div>

    
    <div style="display: flex; flex-direction: row;">
        <button class="button-status-card" mat-raised-button color="warn">Warn</button>
        <div class="update-task">
            <mat-icon mat-ripple (click)="editTaskDialog()">edit</mat-icon>
            <mat-icon mat-ripple (click)="deleteTaskDialog()">delete</mat-icon>
        </div>
    </div>

</mat-card>
