<form [formGroup]="forgotPasswordForm" >

    <div *ngIf="showLoader">
        <mat-spinner id="loading"></mat-spinner>
    </div>

    <div *ngIf="!emailSent">
        
        <div class="welcome" style="justify-content: center;">
            <h1>Verify your email</h1>
        </div>
        
        <div fxLayout="column" fxLayout.md="column" fxLayout.sm="column" fxLayout.xs="column" style="margin: 30px;">
            
            <mat-form-field appearance="fill" >
                <mat-label>Email Address</mat-label>
                <input matInput
                        type="email"
                        formControlName="email">
            </mat-form-field>
            <span class="help-block"
                    *ngIf="(errorMessage!=null && errorMessage!='')">
                    {{ errorMessage }}</span>

            <button class="verify-button"
                mat-raised-button
                style="background-color: #E6005F; color: white; height: 50px; margin-top:10px;"
                [disabled]="!forgotPasswordForm.valid || showLoader"
                (click)="verify()">
                Verify
            </button>
            
            <button class="verify-button"
                mat-raised-button
                color="primary"
                style="height: 50px; margin-top:10px;"
                (click)="backToLogin()">
                Cancel
            </button>
            
        </div>
    </div>

    <div *ngIf="emailSent">
        <div class="welcome" style="justify-content: center;">
            <h1>Email sent!</h1>
        </div>
        <div style="justify-content: center; text-align: center; padding: 20px;">
            <button class="verify-button" 
                color="primary"
                mat-raised-button
                (click)="backToLogin()">
                Return to login
            </button>
        </div>
    </div>
    

</form>




