    <form [formGroup]="resetPasswordForm" >

    <div *ngIf="showLoader">
        <mat-spinner id="loading"></mat-spinner>
    </div>

    <div class="welcome" style="justify-content: center;" *ngIf="!passwordUpdated">
        <h1>Reset your password</h1>
    </div>
    
    <div fxLayout="column" 
            fxLayout.md="column" 
            fxLayout.sm="column" 
            fxLayout.xs="column" 
            style="margin: 30px;"
            *ngIf="!passwordUpdated">

        <mat-form-field class="login-field-password" appearance="fill" style="margin-bottom: -0.5em;">
            <mat-label>Password</mat-label>
            <input matInput type="password" formControlName="password">
        </mat-form-field>

        <mat-form-field class="login-field-password" appearance="fill" style="margin-bottom: -0.5em;">
            <mat-label>Confirm Password</mat-label>
            <input matInput type="password" formControlName="confirmPassword">
        </mat-form-field>
        
        <div fxLayout="row" 
            fxLayout.sm="column"
            fxLayout.xs="column"
            fxLayoutGap="20px"
            style="padding: 10px 50px 5px 50px;">    
    
            <button mat-raised-button fxFlex="100" 
                    style="background-color: #E6005F; color: white; height: 50px;"
                    [disabled]="!resetPasswordForm.valid || showLoader"
                    (click)="reset()">
                Reset
            </button>

        </div>

    </div>

    <div *ngIf="passwordUpdated">
        <div class="welcome" style="justify-content: center;">
            <h1>Email sent!</h1>
        </div>
        <div style="justify-content: center; text-align: center; padding: 20px;">
            <button class="verify-button" 
                color="primary"
                mat-raised-button
                (click)="backToLogin()">
                Return to login
            </button>
        </div>
    </div>

</form>

